
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #78d5ef;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


#fb{
    width:100%;
    border:1px solid gray;
    border-radius:5px;
    position:relative;
  }
  #fb p{
    margin: 0 0 0 10px;
    line-height:30px;
  }
  
  #fb-top span{
    color:#4267B2;
    float:right;
    margin-right:10px;
  }
  #fb-top{
    background-color:#efefef;
    width:100%;
    border-radius:5px 5px 0 0;
    position:absolute;
    border:1px solid gray;
  }
  
  #fb img{
    position:absolute;
    left:10px;
    top:52.5px;
  }
  
  #info{
    position:absolute;
    left:120px;
    top:75px;
  }

  #info:hover{
    cursor: pointer;
  }
  
  #info {
    color:#4267B2;
    line-height:25px;
    font-size:18px;
    max-width: 200px;
  }
  
  #info span{
    color:#777;
    font-size:14px;
  }
  
  #button-block{
    position:absolute;
    right:10px;
    top:85px;
  }
  
  #button-block div{
    display:inline-block;
  }
  
  #confirm, #delete{
    background-color:#4267B2;
    color:white;
    padding:7px;
    border-radius:2px;
    margin-right:10px;
    font-family:sans-serif;
  }
  
  #delete{
    color:#222;
    background-color:#bbb;
    border:1px solid #999;
    padding:6pxDesfazer;
    margin-right:0;
  }
  
  #button-block div:hover{
    opacity:.8;
    cursor:pointer;
  }
  
  
  
  